extends layout

block content
  h1= title
  p Welcome to #{title}

  div
      button(class="btn") "test"
       //table(class="table")
       // tr
       //     td "test"
       //     td "hello"
      textarea(id="theTextArea")



