extends layout

block content
  h1
    |Welcome to
    br
    |Club Hub!


  div
      button(class="btn") Sign In
      button(class="btn") Sign Up
       //table(class="table")
       // tr
       //     td "test"
       //     td "hello"
      //textarea(id="theTextArea")



