

.container-fluid
    h1
        |Login
    form(action="/login").form-inline
        .form-group.col-md-4
            h2 Username

            textarea(rows =1).form-control
                |type name

        .form-group.col-md-4
            h2 Password

            textarea(rows=1).form-control
                |type password
