extends layout

block content
    h1 Log In
    div
        form(action="/login", method = "post").form-inline
            input.input-block-level(type = "text", name = "username", placeholder = "Email address")
            br
            input.input-block-level(type = "password", name = "password", placeholder = "Choose Password")
            br
            button.btn.btn-large.btn-primary(type="submit") Log In
            br