extends layout

block content
    div(class="container-fluid")
        .jumbotron
            h1 Log In

    div(class="row")
        div(class="loginBody")
            div(class="input-group, col-sm-4")
                form(action="/login", method="post")
                    input(type="text" name="username" class="form-control" placeholder="name@example.com" aria-describedby="basic-addon2")
                    input(type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2")
                    button(type="button submit" class="btn btn-default") Log In

